<h1>Users</h1>


<table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>

        <tr>
          <th>
            <%= image_tag user.get_profile_image(100,100) %><br>
          </th>
          <th><p><%= user.name %></p></th>
          <th>
            <%= link_to user_path(user.id) do%>
             Show
            <% end %>
          </th>


        </tr>

      <% end %>
    </tbody>
</table>