<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h3><%= object.errors.count %>errors prohibited this obj from being saved:</h3>
    <ul class="mb-0">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>